.header {
	background-color: white;
	
}

.filterDiv {

}


body {

}

table {
    width: 100%;
    align-self: stretch;
}

td {
    padding: 10px;
}

.search-section {
    margin: 15px;
    font-size: large;
}